body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;/*берем в интеренте*/
}
.header{
    height: 89px;
    width: 100%;
    background-color: rgba(255, 255, 255, .9);
    box-sizing: border-box; /*для привязки бордера кобъекту*/
    padding: 0 164px; /*отсупы*/
    display: flex;/*для управления положением элементов*/
    justify-content: space-between;/*прилепляет объекты к сторонам блока (смотри допю в тетради)*/
    align-items: center;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
    position: fixed;/*фиксирует шапку сайта при скроллинге*/
    left: 0;
    top: 0;

}


.link{
    text-decoration: none;/*стиль ссылок в теге "а"*/
    text-transform: capitalize;/*каждое слово начинается с большой буквы*/
    font-size: 17px;
    margin-right: 38px;
    color: slategray;

}


.login{
    border: none;
    outline: none;
    cursor: pointer;
    width: 87px;
    height: 27px;
    background-color: rgba(185, 45, 45, 0.863);
    border-radius: 3px;
    font-size: 17px;
    color: white;
    text-transform: capitalize;
    margin-left: 4px;
}
.banner{
    width: 100%;
    height: 588px;
    background-image: url('../images/baner.jpg');/*сдесь мы делаем картинку под шапкой*/
    background-repeat: no-repeat ;
    background-size: cover;/*пропорцианально заполняем картинку по боксу*/
    background-position: center; /*двигать картинку по видимой области*/
    padding-bottom: 85px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}
.title{
    text-transform: uppercase;
    font-size: 69px;
    font-weight: 800;


}
.title_small{
    font-size: 25px;
}
.info{
    width: 100%;
    height: 469px;
    box-shadow: rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 66px;
    box-sizing: border-box;
}
.info_title{
    
}

.menu{
    width: 50px;
    height: 50px;
    border: 3px solid #404040;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
}

.line{
    width: 35px;
    height: 3px;
    background-color:#404040;
    position: relative;
    transition: .4s;
}
.line::after{
    content: '';
    width: 35px;
    height: 3px;
    background-color: #404040;
    position: absolute;
    left: 0px;
    top: 8px;
    transition: .4s;
}

.line::before{
    content: '';
    width: 35px;
    height: 3px;
    background-color: #404040;
    position: absolute;
    left: 0px;
    bottom: 8px;
    transition: .4s;
}

.menu:hover > .line{
    background-color: transparent;
}

.menu:hover > .line::before{
    transform: rotate(45deg);
    bottom: 0px;
}

.menu:hover > .line::after{
    transform: rotate(-45deg);
    top: 0px;
}

.info_text{
    width: 830px;
    text-align: center;
}

.circles{
    border: 1px solid red;
    width: 100%;
    padding: 0 160px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-top: 87px;
    

}

.card{
    background-color: #4eb9f4;
    border-radius: 50%;
    width: 179px;
    height: 179px;
    display: flex;
    justify-content: center; /*движение объекта по осям*/
    justify-items: center;
    flex-direction: column;
    color: white;
}

.card > img{
    margin-bottom: 12px;
}

.blue{
    background-color: #4eb9f4;
}

.red{
    background-color: #ff5649;
}
.green{
    background-color: #6fc125;

}
.orange{
    background-color: #e48f23;
}


@media screen and (max-width: 980px){ /*уменьшаем отступы при ужимании картинки*/
    .header{
        padding: 0 20px;
    }
    }
    
    @media screen and (max-width: 710px){
        .links{
        display: none;
        }
    }
    .menu{
        display: flex;
    }